.rate-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rate {
  display: flex;
  flex-flow: row-reverse;
  height: 80px;
}

input[name='star'],
input[name='star-half'] {
  display: none;
}

.star-wrap {
  cursor: pointer;
  width: 51.25px;
  height: 100%;
  overflow: hidden;
  filter: grayscale(100%);
  transition: filter 0.2s ease-in;
}

.star-wrap:nth-of-type(odd)>.star {
  transform: translateX(-51.25px);
}

.star {
  cursor: pointer;
  position: relative;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 11.25px solid transparent;
  border-bottom: 30px solid #FFAC33;
  border-left: 11.25px solid transparent;
  margin: -30px 40px 0 40px;
  transition: filter 0.2s ease-in;
}

label.star {
  filter: grayscale(100%);
}

input[name='star']:checked~label.star,
input[name='star']:not(:disabled)+label.star:hover,
input[name='star']:not(:disabled)+label.star:hover~label.star,
input[name='star-half']:checked~.star-wrap,
input[name='star-half']:not(:disabled)+.star-wrap:hover,
input[name='star-half']:not(:disabled)+.star-wrap:hover~.star-wrap {
  filter: grayscale(0);
}

input[name='star']:disabled+label.star,
input[name='star-half']:disabled+.star-wrap {
  cursor: not-allowed;
}

.star::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: -18px;
  border-top: 40px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 30px solid #FFAC33;
  transform: rotate(-53.13deg);
}

.star::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: -41px;
  border-top: 40px solid transparent;
  border-right: 30px solid #FFAC33;
  border-bottom: 40px solid transparent;
  border-left: 30px solid transparent;
  transform: rotate(53.13deg);
}
